<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="GenAi.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <Routes />
    <script>
        window.scrollElementIntoView = (element) => {
            element.scrollIntoView();
            return element.getBoundingClientRect().top;
        }
        window.focusUserChatInput = () => {
            let field = document.getElementById("userChatInput");
            field.focus();
            field.closest("form").scrollIntoView();
        };
    </script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
